.container {
  display: flex;
  flex-direction: column;
}

form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.box-container {
  display: flex;
  flex-direction: row;
}

.box {
  padding: 3px;
  margin: 3px;
}

#timer {
  margin: 70px auto;
  width: 400px;
  display: flex;
  font-size: 50px;
  font-weight: 800;
}

.stopwatch-container > button {
  width: 70px;
}
#stopwatch-timer {
  margin: 70px auto;
  width: 400px;
  display: flex;
  font-size: 50px;
  font-weight: 800;
}

.disable {
}

.todo-container {
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

#todo-list {
  width: 100%;
}

.todo {
  border: 1px solid black;
  border-radius: 5px;
  height: 70px;
  font-size: 30px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 10px 0;
  overflow: hidden;
}
